<form action="modify_action">
	<label>Choose add or delete </label><br><br>
		<input type="radio" name="addelete" value="add">Add<br>
		<input type="radio" name="addelete" value="delete">Delete<br><br>
	<label>Choose database</label><br>
		<input type="radio" name="database" value="company_name">Company Name<br>
		<input type="radio" name="database" value="company_add">Company Address<br>
		<input type="radio" name="database" value="person_name">Person Name<br>
		<input type="radio" name="database" value="person_contact">Person Contact<br><br>
	<input type="Submit">
</form>


