<<!DOCTYPE html>
<html>
<head>
	<!-- // <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>	 -->
	<!-- // <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
	<!-- // <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js"></script> -->
	<!-- // <script src="static/js/bloodhound.js"></script> -->
<!-- 	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/> -->
	<!-- <link href="static/css/mycss.css" rel="stylesheet"/> -->

	<script src="static/jquery.js"></script>
	<script src="static/new1/bootstrap.min.js"></script>
	<script src="static/js/typeahead.jquery.js"></script>
	<script src="static/js/bloodhound.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="static/new1/bootstrap.min.css" rel="stylesheet"/>
	<link href="static/css/mycss.css" rel="stylesheet"/>




	

</head>
<body>
	<div class="container">
	        <label>State</label> <input type="text" class="typeahead form-control" />
	</div>
	<script src="static/js/myjs.js"></script>
</body>
</html>